*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
}

.main-header {
  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-navigation {
  > * {
    display: flex;
    gap: 10px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
    }
  }
}

.main-content {
  padding: 20px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid #333;
    padding: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.form__group {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 5px;
}

.form__control {
  padding: 5px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.button,
.form__button {
  background-color: #666;
  color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
}

.modal-error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: crimson;
  color: #fff;
  align-content: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  &.open {
    display: block;
  }
}

.counter {
  margin-bottom: 10px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}

.statistics__card {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
}
